<head>
  <meta charset="UTF-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- meta tags -->" | safeHTML }}
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta name="description" content="Cloud Six GmbH is a company based in germany which is specialised in cloud consulting for other business. The main products which are selt are OpenShift, Kubernetes, Ansible and Terraform." />
  <meta name="author" content="Johannes Six" />
  <meta name="keywords" content="Cloud, Six, Consulting, OpenShift, Cloud, Six, GmbH, Kubernetes, Cloud, Six, GmbH, Automation, Ansible, Terraform">
  <meta name="publisher" content="Cloud Six GmbH">
  <meta name="copyright" content="Cloud Six GmbH">
  <meta name="page-topic" content="Dienstleistung">
  <meta name="page-type" content="Produktinfo">
  <meta name="audience" content="Alle">
  <meta name="DC.Creator" content="Johannes Six">
  <meta name="DC.Publisher" content="Cloud Six GmbH">
  <meta name="DC.Rights" content="Cloud Six GmbH">
  <meta name="DC.Description" content="Cloud Six GmbH is a company based in germany which is specialised in cloud consulting for other business. The main products which are selt are OpenShift, Kubernetes, Ansible and Terraform.">
  <meta name="DC.Language" content="de">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-language" content="de">
  <meta name="robots" content="index,follow"/>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
</head>
