//
// Colors
//

// General
$primary: #5d78ff;
$secondary: #282f49;
// Text
$headings-color: #282f49;
$body-color: #7e7e8a;

//
// Typography
//

// Fonts
@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/poppins.woff2') format('woff2'); // Chrome 26+, Opera 23+, Firefox 39+  
}
$font-family-base: "poppins";

@font-face {
    font-family: 'yeseva one';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/yesevaone.woff2') format('woff2'); // Chrome 26+, Opera 23+, Firefox 39+  
}
$headings-font-family: "yeseva one";

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
